extends layout
block content
  #banner.page-header
    .row
      .col-lg-9
        h1 Gizmoflix - 
         small &nbsp;Create your own watchlist!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/Watchlist") Watchlist
            small &nbsp;
            span.badge.pull-right.badge-default
          p
            a(href="/Login") Login </a>| 
            a(href="/Watchlist") Watchlist </a>| 
            a(href="/about") About </a>| 
            a(href="/Watchlist/review/new") Add a review